/* General setup*/
html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 20px;
    background-color: #d8d4dd;
}
  
body {
    width: 70%;
    margin: 0 auto;
}

h1 { 
    display: block;
    text-align: center;
    font-size: xx-large;
}

h2 { 
    display: block;
    text-align: center;
    font-size: x-large;
}


/* Textbox styling */

#profaddcomment{
    margin: 0 auto;
    display: flex;
}

