/* General setup*/
html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 20px;
    background-color: #d8d4dd;
}
  
body {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

h1 { 
    display: block;
    text-align: left;
    font-size: medium;
}

.textbox {  
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(78, 94, 119);
    width: 70%;
    height: 200px;
    background-color: rgb(233, 233, 233);
    font-size: x-large;
}


.commentBox {  
    display: block;
    justify-content: center;
    background-color: aliceblue;
    color:black;
    height: fit-content;
    border: 2px solid black;

    /* Center boxes inside div */
    margin-top: 10px;  
}

.commentBox p{  
    text-align: left;
    padding-left: 1%;
    font-size: medium;
}

h3 { 
    display: block;
    text-align: center;
    font-size: xx-large;
}

/* STYLING FOR <A> AS BUTTON */

#addStudentComment {
    margin-top: 10px;
    margin-right: 86%;
    /* rounded corners w/ border */
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px 20px;
    
    background-color: rgb(207, 207, 207);
    color:black;
    text-align: center;
    text-decoration: none;
    display:inline-block;
}

#addStudentComment:hover, #addStudentComment:active{
    margin-top: 10px;
    margin-right: 86%;
    /* rounded corners w/ border */
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px 20px;
    
    color:black;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    background-color: rgb(187, 187, 187);
}

/* END <A> STYLING */

.commentLinks {
    display: inline-block;
    width: 100%;
}

.commentLinks a {
    justify-content: center;
    font-size: large;
}

#goback {
    margin-top: 5%;
    margin-left: 91%;
    /* rounded corners w/ border */
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px 20px;
    
    background-color: rgb(207, 207, 207);
    color:black;
    text-align: center;
    text-decoration: none;
    display:inline-block;
}