/* General setup*/
html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 20px;
    background: linear-gradient(120deg,#378ec9, #a754ca);
    height: 100vh;
    overflow: hidden;
    font-family: Arial;
}
  
body {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-align: left;
}

h3 { 
    display: block;
    text-align: left;
    font-size: medium;
    margin-left: auto;
    width: 80%;
    height: 10%;
    background: white;
    /* rounded corners w/ border */
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);

    position: relative;
    right: 10%;
}

.textbox {  
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(78, 94, 119);
    width: 80%;
    height: 10em;
    background: linear-gradient(120deg,#ffffff, #def0fb);
    font-size: x-large;
    
    position: relative;
    bottom: 25px;
}


.commentBox {  
    display: block;
    justify-content: center;
    background-color: aliceblue;
    color:black;
    height: fit-content;
    border: 2px solid black;
    border-radius: 16px;

    /* Center boxes inside div */
    margin-top: 10px;
}

.commentBox p{  
    text-align: left;
    padding-left: 1%;
    font-size: medium;
}

h3 { 
    display: block;
    text-align: center;
    font-size: xx-large;
}

/* STYLING FOR <A> AS BUTTON */

#addStudentComment {
    display: inline-block;
    margin-right: auto;
    /* rounded corners w/ border */
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);

    width: 40%;
    height: 8%;
    background: linear-gradient(120deg,#000000, #000000);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 25px;

    position: relative;
    top: 25px;
}

#addStudentComment:hover,
#addStudentComment:active{
    margin-right: auto;
    /* rounded corners w/ border */
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);

    width: 40%;
    height: 8%;
    background: linear-gradient(120deg,#222020, #4e4b4b);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 25px;

    position: relative;
    top: 25px;
}

/* END <A> STYLING */

.commentLinks {
    display: inline-block;
    width: 100%;
}

.commentLinks a {
    justify-content: center;
    font-size: large;
    cursor:pointer;
}

#goback {
    margin-left: auto;
    /* rounded corners w/ border */
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: .5% 1%;
    
    background: linear-gradient(120deg,#e46464, #dd1e1e);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;

    position: absolute;
    top: 93%;
    left: 90%;
}