/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background: linear-gradient(120deg,#378ec9, #a754ca);
  height: 100vh;
  overflow: hidden;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* ~~ Rest of page styling */
img {
  width: 50%;
  /*Css is confusing*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: inline;
  text-align: center ;
}

h3 {
  display: block;
  text-align: center;
  font-size: x-large;
}

/* Button Styling */
.button {
  /* position */ 
  position: relative; 
  top: 10px;
  margin: auto;
  display: block;
  bottom: 10px;
  /* border and color */ 
  background: linear-gradient(120deg,#378ec9, #65f1da);
  border-radius: 25px;
  border: 1px solid;
  width: 80%;
  height: 40px;
  border: none;
  padding: 0px;
  /* text */ 
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  color: white;
}