/**
 * profcomment.css
 *
 * Styles the page where the professor modifies categories.
 * Have a clean way to add and delete categories.
 */

html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 20px;
    background: linear-gradient(120deg,#378ec9, #a754ca);
    height: 100vh;
    overflow: hidden;
    font-family: Arial;
}
  
body {
    width: 70%;
    margin: 0 auto;
}

h1 { 
    display: block;
    text-align: center;
    font-size: xx-large;
}

h2 { 
    display: block;
    text-align: center;
    font-size: x-large;
}

/* Center Block Styling */
.center{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 80%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    object-fit: cover;
  }

/* Textbox styling */
#addNewCategory {
    margin-left: auto;
    /* rounded corners w/ border */
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: .5% 1%;

    position: absolute; 
    left: 2%;
    top: 1.2%;
    width: 25%;
}
#addCategoryButton {
    margin-left: auto;
    /* rounded corners w/ border */
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: .5% 1%;
    
    background: linear-gradient(120deg,#000000, #100118);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;

    position: absolute; 
    top: 6%;
    left: 2%;
}
#goback {
    margin-left: auto;
    /* rounded corners w/ border */
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: .5% 1%;
    
    background: linear-gradient(120deg,#e46464, #dd1e1e);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;

    position: absolute;
    top: 93%;
    left: 90%;
}