/**
 * feedback.css
 *
 * Styles the page where students add comments.
 * Has a title and content box to store info, 
 * where the student can submit to their specific class.
 */

html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 20px;
    color:rgb(0, 0, 0);
    background: linear-gradient(120deg,#378ec9, #a754ca);
    height: 100vh;
    overflow: hidden;
    font-family: Arial;
}
  
body {
    width: 70%;
    margin: 0 auto;
}

h1 { 
    display: block;
    font-size: xx-large;
    color: #000000;
    /* Bubble Frame */
    border-radius: 5px 0px 80px 5px;
    background: #ffffff;
    opacity: 0.89;   
    padding: 2%;
    width: 100%;
    height: 2.5%;
    text-align: center;
    /* position */
    position: fixed;
    top: 0%;
    right: 0%;
    margin: auto;
    display: block;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

/* Inside first Frame */
.firstFrame {
    /* position */
    position: fixed;
    top: 35%;
    left: 50%;

    /* size */
    transform: translate(-50%, -50%);
    width: 30%;
    height: 40%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

/* Inside second Frame */
.secondFrame {
    /* position */
    position: fixed;    
    top: 61.5%;
    left: 50%;

    /* size */
    transform: translate(-50%, -50%);
    width: 30%;
    height: 10%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

/* Textbox styling */
#FeedbackTitle{
    position: fixed;
    top: 17%;
    left: 37.5%;

    width: 25%;
    height: 6%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 20px;
    resize: none;
    box-shadow: 10px 10px 15px rgba(0, 0.2, 0.2, 0.2);
}
#stucommenttxt{
    position: fixed;
    top: 25%;
    left: 37.5%;

    width: 25%;
    height: 25%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #f8f8f8;
    font-size: 20px;
    resize: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}
#submitB {
    margin-right: auto;
    /* rounded corners w/ border */
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 20px;

    width: 20%;
    height: 5%;
    background: linear-gradient(120deg,#0f0d1a, #231124ef);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display:inline-block;

    position: fixed;
    top: 70%;
    left: 40%;
}

#submitB:hover, 
#submitB:active{
    background: linear-gradient(120deg,#0f0d1a, #371a38ef);
}

#goback {
    margin-left: auto;
    /* rounded corners w/ border */
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 20px;
    
    background: linear-gradient(120deg,#e46464, #dd1e1e);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;

    position: absolute;
    top: 93%;
    left: 90%;
}

#goback:hover, 
#goback:active{
    background: linear-gradient(120deg,#dd2e2e, #720707);
}

#ctgrlist {
    position: fixed;
    z-index: 2;
    top: 59%;
    left: 36%;
}

#Annonymous {
    position: fixed;
    top: 62.25%;
    left: 42%;
}

label {
    position: fixed;
    top: 62%;
    left: 36%;
}
