/**
 * feedback.css
 *
 * Styles the page where students add comments.
 * Has a title and content box to store info, 
 * where the student can submit to their specific class.
 */

html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 20px;
    color:rgb(255, 255, 255);
    background: linear-gradient(120deg,#378ec9, #a754ca);
    height: 100vh;
    overflow: hidden;
    font-family: Arial;
}
  
body {
    width: 70%;
    margin: 0 auto;
}

h1 { 
    display: block;
    text-align: center;
    font-size: xx-large;    
}
/* Text styling */
#Classname{
    color:black;
    position: absolute;
    top: 0%;
    left: 45%;
}
/* Textbox styling */
#FeedbackTitle{
    position: absolute;
    top: 10%;
    left: 25%;

    width: 50%;
    height: 6%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 20px;
    resize: none;
}
#stucommenttxt{
    position: absolute;
    top: 20%;
    left: 25%;

    width: 50%;
    height: 25%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #f8f8f8;
    font-size: 20px;
    resize: none;
}
#submitB {
    margin-right: auto;
    /* rounded corners w/ border */
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 20px;

    width: 40%;
    height: 5%;
    background: linear-gradient(120deg,#000000, #100217);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display:inline-block;

    position: absolute;
    top: 60%;
    left: 30%;
}
#goback {
    margin-left: auto;
    /* rounded corners w/ border */
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 20px;
    
    background: linear-gradient(120deg,#e46464, #dd1e1e);
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;

    position: absolute;
    top: 93%;
    left: 90%;
}

#ctgrlist {
    position: absolute;
    top: 50%;
    left: 25%;
}