/**
 * tmp.css
 *
 * Renders the page for resolutions higher than native, so that it scales.
 */

/* Styling for 1920 x 1080 and higher resolutions*/
@media screen and (min-width:800px) {
    #professor_info_box{
        border: 1px solid black;
        width: 50%;
        background-color:wheat;
        text-align: center;
    }
    img{
        position: relative;
        top: 10px;

        border: 1px solid black;
        width: 60%;
        height: 60%;
    }
    .list_style{
        border: 1px solid black;
    }
}
